<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Classes</title>
</head>
<body>
<h3>Classes</h3>
<p>
    <a th:href="@{/classes/create}">
        Add new classes
    </a>
</p>
<p>
    <a th:href="@{/students}">
        students
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table id = "students">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c, cStatus : ${classes}">
        <td th:text="${cStatus.count}"></td>
        <td th:text="${c.getClassName()}"></td>
        <td><a th:href="@{/classes/delete/{id}(id=${c.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a class="btn btn-primary" th:if="${classes.hasPrevious()}"
       th:href="@{/classes(page=${classes.number - 1})}">Previous</a>
    <span th:text="${classes.number + 1}"></span> | <span th:text="${classes.totalPages}"></span>
    <a class="btn btn-primary" th:if="${classes.hasNext()}"
       th:href="@{/classes(page=${classes.number + 1})}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
